<div id="post-165" class="post-165 recipe type-recipe status-publish format-standard hentry category-pizzas latest-block wide latest">
          <div class="new-recipe"><div class="new-recipe-tex"><div><span></span></div></div></div>
          <div class="top"></div>
          <div class="mid">
          
            <div class="recipe-thumb">
            
                            
              <a href="/recipes/<%=recipe.id %>" title="<%= recipe.title %>">
                <img src="<%= recipe.image %>" height="356" width="475" alt="" />
              </a>
              
                          
            </div>
            
            <div class="recipe-info">
            
              <h4><a href="/recipes/<%=recipe.id %>"><%= recipe.title %></a></h4>
              
              <div class="recipe-details">
              
                <ul>
                
                  <li>
                    <span class="label">Created By</span>
                                        <span class="value">Scott Bauer</span>
                                      </li>
                  <li>
                    <span class="label">Shared On</span>
                    <span class="value">July 29, 2014</span>
                  </li>
                  <li>
                    <span class="label">Posted In</span>
                    <span class="value"><a href="http://themes.divwrap.com/ingredients/category/main-dishes/pizzas/" title="View all posts in Pizzas" >Pizzas</a></span>
                  </li>
                  <li>
                    <span class="label">Note</span>
                    <div class="value">View full recipe for details</div>
                  </li>
                
                </ul>
              
              </div>
            
            </div>
            
            <div class="recipe-link"><a class="btn" href="http://themes.divwrap.com/ingredients/recipe/cheesy-pizza/"><span>View Full Recipe &#187;</span></a></div>
        
          </div>
          <div class="bot"></div>
          </div>