<%= form_for @recipe, :html => {:class => "form-horizontal"} do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>


      <div class="form-group">
        <label for="inputTitle" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
             <%= f.text_field :title, :class=>"form-control", :id=>"title", :placeholder=>"Recipe title" %>
        </div>
      </div>
      <% recipe = @recipe %>
      <div class="form-group">
        <label for="thumbnail" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
             <img src="<%= recipe.image %>">
        </div>
      </div>
      

      <div class="form-group">
        <label for="ingredients" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
          <%= f.text_area :ingredients, :id => "ingredients_area", :cols => 75, :rows => 15, :class=>"wysihtml5 form-control", :id=>"ingredients", :placeholder=>"Recipe ingredients" %>
           
        </div>
      </div>

      

<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>

      <div class="form-group">
        <label for="serving" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
      
           <%= f.text_area :serving, :id => "serving_area", :cols => 35, :rows => 10, :class=>"wysihtml5 form-control", :id=>"serving", :placeholder=>"Recipe Serving (optional)" %>
        </div>
      </div>
      Video link:
      <div class="form-group">
        <label for="inputTitle" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
             <%= f.text_field :video_link, :class=>"form-control", :id=>"title", :placeholder=>"video link" ,:readonly => true %>
        </div>
      </div>
      Medium image:
      <div class="form-group">
        <label for="inputTitle" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
             <%= f.text_field :image, :class=>"form-control", :id=>"image", :placeholder=>"image" %>
        </div>
      </div>
      Large image:
      <div class="form-group">
        <label for="inputTitle" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
             <%= f.text_field :large_image, :class=>"form-control", :id=>"large_image", :placeholder=>"large_image"  %>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTitle" class="col-lg-4 control-label"></label>
        <div class="col-lg-10">
          <%= f.label :published do %>
            <%= f.check_box :published %>
            Publish
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10">
           <%= f.submit "Create Recipe", :class=>"btn btn-success" %>
           </br></br>
        </div>

      </div>

     </form><!-- form -->
  </p>

</div><!-- col -->
</br></br>

<% end %>
