<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> SHIELD - Free Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link href="assets/css/animate-custom.css" rel="stylesheet"> -->


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/html5shiv.js"></script>
      <script src="assets/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
    

  
  
    <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
      <header class="clearfix">
            <h1><span class="icon icon-shield"></span></h1>
            <p>A Bootstrap 3 One Page Theme.</p>
            <p>Exclusive for BlackTie.co.</p>
        </header>     
      </div><!-- /headerwrap -->

    <%= render "shared/underheader" %>
    
    <%= render "shared/about" %>
    
    
    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1>DESIGN EXPAND BOUNDARIES</h1>
        <hr>
        <p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
      </div><!-- container -->
    </section><!-- section -->
    
    
    <!-- ==== SERVICES ==== -->
    <div class="container" id="services" name="services">
      <br>
      <br>
      
      Brand partial

      <div class="row">
        <h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <img class="img-responsive" src="assets/iphone.png" alt="">
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
      

    <!-- ==== SECTION DIVIDER2 -->
    <section class="section-divider textdivider divider2">
      <div class="container">
        <h1>DESIGN IS AN INTERACTION</h1>
        <hr>
        <p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
      </div><!-- container -->
    </section><!-- section -->

    <%= render "shared/team" %>

    
    <%= render "shared/advertise" %>
    
    <!-- ==== SECTION DIVIDER3 -->
    <section class="section-divider textdivider divider3">
      <div class="container">
        <h1>DESIGN SOLVE PROBLEMS</h1>
        <hr>
        <p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
      </div><!-- container -->
    </section><!-- section -->


    <!-- ==== START PORTFOLIO ==== -->
    <div class="container" id="portfolio" name="portfolio">
      <br>
        <div class="row">
          <br>
          <h1 class="centered">WE CREATE COOL STUFF</h1>
          <hr>
          <br>
          <br>
        </div><!-- /row -->
        <!--inner container -->
        <div class="container">  
          <% @recipes.shuffle.each_with_index do | recipe, index | %>
          <% if index % 3 == 0 %>
          <%= render "shared/profolio", :recipe => @recipes, :index => index-1 %>
          <% end %>
          <% end %>
          <br>
          <br>
          <%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>
        </div><!--  / inner container -->
    </div>
  <!-- ==== END PORTFOLIO ==== -->


    <!-- ==== SECTION DIVIDER4 ==== -->
    <section class="section-divider textdivider divider4">
      <div class="container">
        <h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
        <hr>
        <p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
      </div><!-- container -->
    </section><!-- section -->
    
    <!-- ==== BLOG ==== -->
    <div class="container" id="blog" name="blog">
    <br>
      
      
      <%= render "shared/stories" %>
      <br>
      <br>
    </div><!-- /container -->

    
    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>CRAFTED IN NEW YORK, USA.</h1>
        <hr>
        <p>Some Address 987,</p>
        <p>+34 9884 4893</p>
        <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
      </div><!-- container -->
    </section><!-- section -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        
        <%= render "shared/contactinfo" %>
        <%= render "shared/newsletter" %>
        <%= render "shared/supportus" %>
        
       

      </div><!-- row -->
    
    </div><!-- container -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
<!--
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/retina.js"></script>
  <script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
  <script type="text/javascript" src="assets/js/jquery-func.js"></script>
-->
  </body>
</html>
