<!-- PORTFOLIO IMAGE 1 -->
<div class="col-md-4">
  <div class="tok-clip  hover-bound">
    <div class="picfx">
      <a href="/recipes/<%= recipe[index].id %>">
        <img class="lzy-ld" data-original="<%= recipe[index].image %>" src="<%= recipe[index].image %>" alt="#" style="display: inline;width: 350px;">
      </a>
    </div>

    <a href="/recipes/<%= recipe[index].id %>" class="article-title">
      <h2 class="text-center"><%= recipe[index].title %></h2>
    </a>

    <div class="tok-social hidden-phone" style="display: none;">
      <a class="reddit-share" href="#"><i class="icon-reddit"></i> 0</a>
      <a class="fb-share" href="#"><i class="icon-facebook"></i>1</a>
      <a class="tw-share" href="#"><i class="icon-twitter"></i>9</a>
    </div>

    <% if user_signed_in? %>
    <a href="/recipes/<%= recipe[index].id %>/edit" class="article-title">
      <div class="tok-micro-left" style="display: block;">
      <span class="glyphicon glyphicon-edit"></span>
      </div>
    </a>
    <% end %>

    <div class="tok-micro" style="display: block;"><span class="glyphicon glyphicon-heart" style="vertical-align:4px;"></span>
    <span class="glyphicon glyphicon-edit"></span>
    </div>

  </div>

</div><!-- /col -->

  

  <!-- PORTFOLIO IMAGE 2 -->
  <div class="col-md-4">
    <div class="tok-clip  hover-bound">
      <div class="picfx">
        <a href="/recipes/<%= recipe[index+1].id %>">
          <img class="lzy-ld" data-original="<%= recipe[index+1].image %>" src="<%= recipe[index+1].image %>" alt="#" style="display: inline;width: 350px;">
        </a>
      </div>

      <a href="/recipes/<%= recipe[index+1].id %>" class="article-title">
       <h2 class="text-center"><%= recipe[index+1].title %></h2>
     </a>

     <div class="tok-social hidden-phone" style="display: none;">
      <a class="reddit-share" href="#"><i class="icon-reddit"></i> 0</a>
      <a class="fb-share" href="#"><i class="icon-facebook"></i>1</a>
      <a class="tw-share" href="#"><i class="icon-twitter"></i>9</a>
    </div>

    <% if user_signed_in? %>
    <a href="/recipes/<%= recipe[index+1].id %>/edit" class="article-title">
      <div class="tok-micro-left" style="display: block;">
      <span class="glyphicon glyphicon-edit"></span>
      </div>
    </a>
    <% end %>

    <div class="tok-micro" style="display: block;"><span class="glyphicon glyphicon-heart" style="vertical-align:4px;"></span></div>
    

  </div>

</div><!-- /col -->


<% unless recipe[index+2].nil? %>

<!-- PORTFOLIO IMAGE 3 -->
<div class="col-md-4">
  <div class="tok-clip  hover-bound">
    <div class="picfx">
      <a href="/recipes/<%= recipe[index+2].id %>">
        <img class="lzy-ld" data-original="<%= recipe[index+2].image %>" src="<%= recipe[index+2].image %>" alt="#" style="display: inline;width: 350px;">
      </a>
    </div>

    <a href="/recipes/<%= recipe[index+2].id %>" class="article-title">
     <h2 class="text-center"><%= recipe[index+2].title %></h2>
   </a>

   <div class="tok-social hidden-phone" style="display: none;">
    <a class="reddit-share" href="#"><i class="icon-reddit"></i> 0</a>
    <a class="fb-share" href="#"><i class="icon-facebook"></i>1</a>
    <a class="tw-share" href="#"><i class="icon-twitter"></i>9</a>
  </div>

  <% if user_signed_in? %>
    <a href="/recipes/<%= recipe[index+2].id %>/edit" class="article-title">
      <div class="tok-micro-left" style="display: block;">
      <span class="glyphicon glyphicon-edit"></span>
      </div>
    </a>
    <% end %>

  <div class="tok-micro" style="display: block;"><span class="glyphicon glyphicon-heart" style="vertical-align:4px;"></span></div>
</div>
<%end%>
</div><!-- /col -->


