<!DOCTYPE html>
<html>
<head>
  <title>Tokfood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navbar" %>
<div class="row">
<div class="col-lg-3 col-sm-4 col-6">
    <br>
</div>    
</div>

<%= yield %>

<div class="row">
<div class="col-lg-3 col-sm-4 col-6">
    <br>
</div>
    
</div>
<%= render "shared/footer" %>

</body>
</html>
